@use "water_extras.scss";

/* Global box-sizing reset */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --header-height: 60px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
               Segoe UI Emoji, Apple Color Emoji, Noto Color Emoji, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  &.h {
    flex-direction: row;
  }
}

.bg-diagonal {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #444cf7 0,
    #444cf7 1px,
    #e5e5f7 0,
    #e5e5f7 50%
  );
}

pre.body {
  white-space: pre-wrap;
}

/* MapLibre styles */
.maplibregl-map {
  font: inherit;
}

.maplibregl-popup-content {
  padding: 10px;
  max-width: 300px;
}

.maplibregl-ctrl-group {
  background-color: rgba(255, 255, 255, 0.8);
}
