name: CI

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: ['1.25.x']
        node-version: ['18.x']

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: 'ui/pnpm-lock.yaml'

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: latest
          run_install: false

      - name: Get Go dependencies
        run: go mod download

      - name: Install UI dependencies
        run: |
          cd ui
          pnpm install

      - name: Build UI
        run: |
          cd ui
          pnpm run build

      - name: Test application
        run: |
          go test ./...
